.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }
  .social-info{
    display: flex;
   }
 @media screen and (max-width: 480px) {
   .social-info{
    visibility: hidden;
   }
 }
 