@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
@font-face {
  font-family: 'oswald-font';
  src: url('../assets/Fonts/Oswald/Oswald-Bold.ttf') format('truetype'),
       url('../assets/Fonts/Oswald/Oswald-Regular.ttf') format('truetype'),
       url('../assets/Fonts/Oswald/Oswald-Light.ttf') format('truetype'),
       url('../assets/Fonts/Oswald/Oswald-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'anita-font';
  src: url('../assets/Fonts/Amit/Amit-Bold.ttf') format('truetype'),
       url('../assets/Fonts/Amit/Amit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */


.oswald-font{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

.oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}
.oswalds{
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}
.anita-font{
  font-family: 'anita-font', sans-serif;
}
.dancing-font{
  font-family: "Dancing Script", cursive;
}

.sansita-bold {
  font-family: "Sansita", sans-serif;
  font-weight: 800;
  font-style: italic;
}

@keyframes swipeUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.swipe-up {
  animation: swipeUp 0.5s ease-out forwards;
}