

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
  font-family: 'oswald-font';
  src: url('../assets/Fonts/Oswald/Oswald-Bold.ttf') format('truetype'),
       url('../assets/Fonts/Oswald/Oswald-Regular.ttf') format('truetype'),
       url('../assets/Fonts/Oswald/Oswald-Light.ttf') format('truetype'),
       url('../assets/Fonts/Oswald/Oswald-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'anita-font';
  src: url('../assets/Fonts/Amit/Amit-Bold.ttf') format('truetype'),
       url('../assets/Fonts/Amit/Amit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.oswald-font{
  font-family: 'oswald-font', sans-serif;
}
.anita-font{
  font-family: 'anita-font', sans-serif;
}
.dancing-font{
  font-family: "Dancing Script", cursive;
}